@font-face {
    font-family: Fira Code light;
    src: url(font/FiraCode-Light.ttf);
}

@font-face {
    font-family: Fira Code regular;
    src: url(font/FiraCode-Regular.ttf);
}

@font-face {
    font-family: Fira Code medium;
    src: url(font/FiraCode-Medium.ttf);
}

@font-face {
    font-family: Fira Code semibold;
    src: url(font/FiraCode-SemiBold.ttf);
}

@font-face {
    font-family: Fira Code bold;
    src: url(font/FiraCode-Bold.ttf);
}

body {
    background-color: #eeece3;
    width: auto;
    margin: 1vw 1.5vh;
    padding: 4vw 7vh;
    padding-top: 1.5vh;
   
}

#h1 {
    font-family: Fira Code regular;
  
    
  }
  
  #h2 {
      font-family: Fira Code light;
      
    }
  
  #h2:hover {
      color: #7fa480;
  }
  
  #h3 {
      font-family: Fira Code light;
      
    }
  
    #h4 {
      font-family: Fira Code light;
      
    }
  
    #h4:hover {
      color: #7fa480;
    }
  
  #p1 {
      font-family: Fira Code regular;
    
  }
  
  #p2 {
      font-family: Fira Code medium;
   
  }
  
  #p3 {
      font-family: Fira Code semibold;
  
  }
  
  #p3:hover {
      color: #7fa480;
    }

    #p4 {
        font-family: Fira Code regular;
        color:#ca7d74;
        font-size:medium;
        
     
    }

   
/*platecaseetc*/
#img1 {
    width: 40%;
    height: auto;
    margin-bottom: 4%;
}

#img2 {
    width: 60%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3.7%;
    margin-left: 18%;
   
}

#img4 {
    width: 60%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 18%;
   
}

#img5 {
    width: 60%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 18%;
   
}

#img3 {
    width: 20%;
    height: auto;

   
}

/*sidebar*/
  .mySidebar {
    width: 0%;
    background-color: #d4d0c1;
    height: 100%; 
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 37px;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
   
}


.mySidebar ul {
    list-style-type: none;
    padding-inline-start: 9%;
   
}

.mySidebar ul li {
    padding: 15px;
    
    
    
}
.mySidebar ul li a {
    
    white-space: nowrap;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    font-family: Fira Code regular;
    font-size: medium;
    color: #5e544a;
    text-decoration: none;
    
    
}

.mySidebar ul li a:hover {
    color: #ca7d74;
}
  


#menu {
    font-family: Fira Code medium;
    color: #99947e;
    text-decoration: none;
    margin-left: 100%;
  

}

#menu:hover {
    color: #5e544a;
}

.mySidebar .closebtn {
    position: absolute; 
    color: #5e544a;
    font-family: Fira Code light;
    top: 5px;
    text-decoration: none;
    font-size: 25px;
    margin-left: 32px;
  }

  .mySidebar .closebtn:hover {
    color:#ca7d74;
  }

  .main {
    margin-top: -2%;
}